.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginationPage {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
  cursor: pointer;
}

.pageActive {
  background-color: blue;
  padding: 0.6rem;
  color: #fff;
  border-radius: 0.5rem;
}
