.header {
  width: 70%;
  background-color: var(--bgHeader);
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerTitle {
  color: var(--title);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.headerTitle > span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 167, 69);
  padding: 0.75rem 0;
  width: 20%;
  text-align: center;
  color: var(--title);
  cursor: pointer;
}
.addBtn > span {
  margin-left: 2px;
}
