.employee {
  width: 70%;
  background-color: #fff;
  padding: 1% 2%;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.noEmployee {
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}
